body, html {
  font-family: "Josefin Sans", "Helvetica-Neue", Helvetica, sans-serif;
  font-size: 16px;
  -webkit-overflow-scrolling: touch; }

main {
  overflow-x: hidden;
  overflow-y: hidden; }

h2 {
  font-size: 2em; }

.section-header {
  font-weight: 300;
  letter-spacing: -1px;
  color: #278cff;
  text-align: center;
  margin-bottom: 30px; }

.section-header span {
  font-weight: bold; }

.card, .card-img-top {
  border-radius: 0; }

.btn {
  border-radius: 20px;
  font-size: 0.875em;
  padding: 8px 16px; }

.btn-primary:hover {
  border-color: transparent;
  background: #76BD0E; }

.btn-outline-primary:hover {
  border-color: #76BD0E;
  color: #76BD0E;
  background: none; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 60px;
  z-index: 999999;
  background: linear-gradient(rgba(50, 50, 50, 0.65), rgba(0, 0, 0, 0));
  transition: 0.5s ease; }
  .navbar .container {
    position: relative; }
  .navbar .row {
    width: 100%;
    margin: 0px; }
  .navbar .col-lg-6, .navbar .col-lg-4 {
    padding: 0; }
  .navbar .col-lg-2 {
    position: static; }
  .navbar a:link, .navbar a:visited {
    color: #fff;
    padding-top: 10px;
    letter-spacing: -0.5px;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
    transition: all 0.25s ease; }
  .navbar a:hover, .navbar a:active {
    text-decoration: none;
    color: #76BD0E; }
  .navbar .nav-logo {
    padding: 0; }
    .navbar .nav-logo img {
      width: 110%; }
  .navbar .nav-left {
    padding: 0; }
    .navbar .nav-left a {
      float: left; }
  .navbar .nav-right {
    padding: 0; }
    .navbar .nav-right a {
      float: right; }
  .navbar a[href*="/gallery"] {
    transform: translateX(15px); }
  .navbar a[href*="/contact-us"] {
    float: right;
    background: #278cff;
    padding: 8px 16px;
    border-radius: 20px;
    text-shadow: none; }
    .navbar a[href*="/contact-us"] .fa {
      display: none; }
    .navbar a[href*="/contact-us"]:hover {
      color: #fff;
      background: #76BD0E; }
  .navbar .nav-toggle {
    display: none;
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 2.5em; }
    .navbar .nav-toggle .fa-close {
      display: none; }

.dropdown-services {
  background: rgba(30, 30, 30, 0.75);
  overflow: auto;
  position: absolute;
  left: -10px;
  top: 50px;
  border-radius: 10px;
  overflow: visible;
  transition: all 0.5s ease;
  display: none; }
  .dropdown-services ul {
    list-style-type: none;
    padding: 8px 0;
    position: relative; }
    .dropdown-services ul:before {
      content: "";
      position: absolute;
      top: 0;
      right: 24px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      transform: translateY(-100%);
      border-bottom: 8px solid rgba(0, 0, 0, 0.5); }
    .dropdown-services ul li a {
      display: block;
      width: 100%;
      padding: 8px 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25); }

.preloader {
  height: 100%;
  width: 100%;
  background: linear-gradient(195deg, #498DBE, #2E71B2, #04408F);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1234567890;
  padding-top: 40vh; }
  .preloader .preloader-wrapper {
    width: 140px;
    height: 140px;
    position: relative;
    margin: 0 auto;
    transform: translateY(-50%); }
  .preloader .preloader-logo {
    z-index: 123;
    width: 140%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .preloader .plane {
    color: #fff;
    position: absolute;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    font-size: 40px;
    animation-name: planeRotation;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear; }
  .preloader .orbit {
    border: 2px dashed #eee;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: -60px;
    right: -60px;
    bottom: -60px; }

.preloader-text {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1.25em; }

.dot-1 {
  animation: dot1 5s linear infinite; }

.dot-2 {
  animation: dot2 5s linear infinite; }

.dot-3 {
  animation: dot3 5s linear infinite; }

@keyframes planeRotation {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@keyframes dot1 {
  0% {
    opacity: 0; }
  24% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes dot2 {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes dot3 {
  0% {
    opacity: 0; }
  74% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@media screen and (max-width: 768px) {
  .preloader .preloader-wrapper {
    width: 100px;
    height: 100px; }
  .preloader .plane {
    top: -46px;
    left: -46px;
    right: -46px;
    bottom: -46px;
    font-size: 40px; }
  .preloader .preloader-text {
    bottom: 60px; } }
.hero-section {
  overflow: hidden;
  position: relative;
  margin-bottom: 0 !important;
  width: 100%;
  background-color: #fff; }
  .hero-section #hero-slider {
    margin-bottom: 0; }
  .hero-section .hero-slide {
    height: 100vh;
    width: 100vw;
    min-height: 550px;
    position: relative;
    overflow: hidden;
    display: inline-block; }
    .hero-section .hero-slide img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      min-width: 110%;
      z-index: -1; }
  .hero-section .slide-body {
    z-index: 9;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 600px;
    text-align: center; }
    .hero-section .slide-body h2 {
      font-size: 4em;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      font-family: "Kaushan Script", cursive;
      text-transform: capitalize; }
    .hero-section .slide-body p {
      margin-top: 30px;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 1.15em; }
  .hero-section .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999; }
    .hero-section .slick-arrow:before {
      font-size: 50px;
      text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35); }
  .hero-section .slick-dots {
    display: inline;
    bottom: 40px; }
    .hero-section .slick-dots li {
      margin: 0 3px; }
    .hero-section .slick-dots button {
      border: 2px solid #fff;
      background: none;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      opacity: 0.75; }
      .hero-section .slick-dots button:before {
        display: none; }
      .hero-section .slick-dots button:hover {
        opacity: 1; }
    .hero-section .slick-dots .slick-active button {
      background: #fff; }
  .hero-section .slick-next {
    right: 70px; }
  .hero-section .slick-prev {
    left: 40px; }
@keyframes FadeOutDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }
  .hero-section .btn-scroll {
    position: absolute;
    bottom: 28%;
    left: 50%;
    padding: 8px 16px;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.65);
    transition: all 0.25s ease; }
    .hero-section .btn-scroll span {
      position: absolute;
      top: 20px;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: FadeOutDown 2s infinite;
      animation: FadeOutDown 2s infinite;
      box-sizing: border-box; }
      .hero-section .btn-scroll span:last-child {
        top: 35px; }
    .hero-section .btn-scroll:hover {
      text-decoration: none;
      letter-spacing: 1.5px; }

.events-section {
  z-index: 99999;
  padding: 75px 0 50px;
  background-color: #fff; }
  .events-section .card {
    height: 100%;
    transition: all 0.25s ease;
    box-shadow: 0px 0px 0px 0px #888; }
    .events-section .card .btn {
      margin-bottom: auto; }
    .events-section .card:before {
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border: 1px solid rgba(150, 150, 150, 0.4);
      transition: all 0.25s ease;
      z-index: 9; }
    .events-section .card:hover, .events-section .card:active {
      box-shadow: 0px 25px 25px 0px #aaa; }
      .events-section .card:hover:before, .events-section .card:active:before {
        left: 10px;
        top: 10px;
        right: 10px;
        bottom: 10px; }
    .events-section .card .card-body {
      padding: 5px 25px 25px 25px;
      z-index: 999; }
  .events-section .event-head {
    color: #fff;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
    position: relative; }
  .events-section .event-title {
    font-size: 2rem;
    font-family: "Kaushan Script", cursive;
    margin-bottom: 20px;
    position: absolute;
    left: 20px;
    bottom: 40px;
    margin-bottom: 0px; }
  .events-section .event-duration {
    position: absolute;
    bottom: 15px;
    left: 25px;
    margin-bottom: 0px; }
  .events-section .event-date {
    position: absolute;
    margin-bottom: 0px;
    bottom: 15px;
    right: 25px;
    letter-spacing: 1px;
    font-size: 1.125em; }
  .events-section .event-text {
    margin-top: 10px;
    text-align: justify;
    margin-bottom: 10px;
    color: #333;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .events-section .event-price {
    display: inline-block;
    float: right;
    color: #278cff;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1;
    margin-top: 10px;
    letter-spacing: 1px; }
    .events-section .event-price span {
      font-size: 2em; }
  .events-section .event-note {
    margin: 0;
    line-height: 1;
    font-size: 0.813em;
    color: #aaaaaa; }
  .events-section .event-actions {
    padding-top: 15px;
    margin-top: auto;
    z-index: 99px; }
  .events-section .container > p {
    margin-top: 40px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold; }
    .events-section .container > p a:link, .events-section .container > p a:visited {
      transition: all 0.25s ease; }
    .events-section .container > p a:hover, .events-section .container > p a:active {
      color: #76BD0E;
      text-decoration: none; }

.other-services-section {
  position: relative;
  color: #fff;
  overflow: hidden; }
  .other-services-section .bg-sand {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    transform: translate3d(0, 0, 0);
    background: url("../img/sand.jpg");
    background-repeat: repeat;
    background-position: center; }
    .other-services-section .bg-sand:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -5;
      background: url("../img/starfish.png");
      background-repeat: no-repeat;
      background-position: 82% 30%; }
  .other-services-section .container {
    z-index: 9;
    padding: 40px 0 30px; }
  .other-services-section h2 {
    text-align: center;
    font-size: 2.5em;
    font-family: "Kaushan Script", cursive;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }
  .other-services-section .container > p {
    margin: 0 auto 40px;
    width: 600px;
    text-align: center;
    font-size: 1.125em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }
  .other-services-section .icon-wrapper {
    margin: 0 auto;
    width: 128px;
    height: 128px;
    position: relative; }
    .other-services-section .icon-wrapper:before, .other-services-section .icon-wrapper:after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      right: 0;
      top: 0; }
    .other-services-section .icon-wrapper:before {
      border: 4px solid #fff;
      border-radius: 50%;
      z-index: 999; }
    .other-services-section .icon-wrapper:after {
      z-index: 9;
      transition: all 0.5s ease;
      background: radial-gradient(rgba(0, 0, 0, 0) 58%, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0) 72%); }
    .other-services-section .icon-wrapper .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.75em;
      text-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
      transition: all 0.5s ease; }
  .other-services-section .icon-label {
    text-align: center;
    font-size: 1.375em;
    margin-top: 15px;
    text-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease; }
  .other-services-section a:link, .other-services-section a:visited {
    display: block;
    color: #fff;
    transition: all 0.5s ease; }
  .other-services-section a:hover, .other-services-section a:active {
    text-decoration: none;
    transform: translateY(-10%); }
    .other-services-section a:hover .icon-wrapper:after, .other-services-section a:active .icon-wrapper:after {
      background: radial-gradient(rgba(0, 0, 0, 0) 58%, rgba(0, 0, 0, 0.25) 65%, rgba(0, 0, 0, 0) 72%);
      transform: translateY(15px); }
    .other-services-section a:hover .icon-wrapper .fa, .other-services-section a:active .icon-wrapper .fa {
      text-shadow: 0 15px 5px rgba(0, 0, 0, 0.25); }
    .other-services-section a:hover .icon-label, .other-services-section a:active .icon-label {
      text-shadow: 0 15px 5px rgba(0, 0, 0, 0.5); }

.featured-photos-section, .gallery-wrapper {
  padding: 75px 0 50px;
  background-color: #fff; }
  .featured-photos-section .item, .gallery-wrapper .item {
    overflow: hidden;
    padding: 10px;
    transition: all 0.5s ease; }
    .featured-photos-section .item img, .gallery-wrapper .item img {
      position: absolute;
      left: -1000%;
      right: -1000%;
      top: -1000%;
      bottom: -1000%;
      min-height: 100%;
      min-width: 100%;
      margin: auto;
      transition: all 0.5s ease; }
    .featured-photos-section .item.col-4 img, .gallery-wrapper .item.col-4 img {
      width: auto;
      height: 100%; }
    .featured-photos-section .item.col-8 img, .gallery-wrapper .item.col-8 img {
      width: 100%;
      height: auto; }
    .featured-photos-section .item figure, .gallery-wrapper .item figure {
      height: 300px;
      width: 100%;
      margin-bottom: 0; }
    .featured-photos-section .item a, .gallery-wrapper .item a {
      display: block;
      position: relative;
      overflow: hidden;
      background: #000; }
      .featured-photos-section .item a:after, .gallery-wrapper .item a:after {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        right: -1px;
        left: -1px;
        border: 1px solid rgba(150, 150, 150, 0.4);
        z-index: 9999;
        transition: all 0.5s ease;
        opacity: 0; }
      .featured-photos-section .item a figcaption, .gallery-wrapper .item a figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #FFF;
        padding: 40px 30px 20px;
        transition: all 0.5s ease;
        transform: translateY(100%);
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), #323232);
        opacity: 0; }
      .featured-photos-section .item a:hover:after, .gallery-wrapper .item a:hover:after {
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 10px;
        opacity: 1; }
      .featured-photos-section .item a:hover figcaption, .gallery-wrapper .item a:hover figcaption {
        transform: translateY(0);
        opacity: 1; }
      .featured-photos-section .item a:hover img, .gallery-wrapper .item a:hover img {
        transform: scale(1.1); }
  .featured-photos-section > p, .gallery-wrapper > p {
    margin-top: 40px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold; }
    .featured-photos-section > p a:link, .featured-photos-section > p a:visited, .gallery-wrapper > p a:link, .gallery-wrapper > p a:visited {
      transition: all 0.25s ease; }
    .featured-photos-section > p a:hover, .featured-photos-section > p a:active, .gallery-wrapper > p a:hover, .gallery-wrapper > p a:active {
      color: #76BD0E;
      text-decoration: none; }

.reviews-section {
  padding: 50px 0 80px;
  background: url("../img/paper.jpg"); }
  .reviews-section .review-slider {
    position: relative;
    margin: 0 auto;
    text-align: center; }
    .reviews-section .review-slider .next, .reviews-section .review-slider .prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #aaa;
      font-size: 5rem;
      font-weight: bold;
      opacity: 0.75;
      cursor: pointer;
      z-index: 999;
      transition: all 0.25s ease; }
      .reviews-section .review-slider .next:hover, .reviews-section .review-slider .prev:hover {
        opacity: 1; }
    .reviews-section .review-slider .next {
      right: 0; }
    .reviews-section .review-slider .prev {
      left: 0; }
    .reviews-section .review-slider .slick-dots {
      position: absolute;
      display: inline;
      bottom: -40px;
      left: 0; }
      .reviews-section .review-slider .slick-dots li {
        margin: 0 3px; }
      .reviews-section .review-slider .slick-dots button {
        border: 2px solid #aaa;
        background: none;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        opacity: 0.75; }
        .reviews-section .review-slider .slick-dots button:before {
          display: none; }
        .reviews-section .review-slider .slick-dots button:hover {
          opacity: 1; }
      .reviews-section .review-slider .slick-dots .slick-active button {
        background: #aaa; }
  .reviews-section .review-slide {
    text-align: center; }
    .reviews-section .review-slide .star {
      color: #ffa500;
      text-align: center;
      font-size: 1.25em; }
    .reviews-section .review-slide .review-body {
      color: #888;
      font-weight: 300;
      font-size: 1.125em;
      font-style: italic;
      width: 600px;
      margin: 0 auto 30px; }
    .reviews-section .review-slide img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto; }
    .reviews-section .review-slide .review-name {
      color: #888;
      font-weight: bold;
      font-size: 1.125em;
      margin-top: 20px;
      margin-bottom: 0px; }
    .reviews-section .review-slide .review-position {
      color: #aaa; }

.footer {
  position: relative;
  overflow: hidden; }
  .footer .footer-sky {
    position: fixed;
    transform: translate3d(0, 0, 0);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    background: url("../img/sky.jpg");
    background-size: cover;
    background-position: bottom; }

.pre-footer {
  overflow: hidden;
  padding: 100px 20% 200px;
  text-align: center;
  position: relative;
  color: #FFF; }
  .pre-footer .stars-animation img {
    position: absolute;
    height: 100%;
    width: auto;
    height: auto;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    transform-origin: bottom right;
    opacity: 0; }
  .pre-footer .stars-animation #stars-back {
    opacity: 0.5; }
  .pre-footer:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -49px;
    left: 0;
    width: 100%;
    height: 200px;
    background: url("../img/mountain.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: center bottom;
    z-index: 99999; }
  .pre-footer .subscribe-wrapper {
    z-index: 9999;
    position: relative;
    width: 600px;
    margin: 0 auto; }
  .pre-footer h2 {
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }
  .pre-footer p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 300; }
  .pre-footer .form-group {
    position: relative;
    z-index: 999;
    width: 80%;
    margin: 30px auto 0; }
    .pre-footer .form-group input {
      border-radius: 25px;
      padding: 10px 20px;
      background: rgba(255, 255, 255, 0.85); }
    .pre-footer .form-group button {
      padding: 10px 20px;
      border-radius: 25px;
      position: absolute;
      bottom: 0px;
      right: 0px;
      font-size: 1rem;
      color: #fff;
      letter-spacing: 0.5px; }
      .pre-footer .form-group button:hover {
        background: #67a50c;
        border-color: #67a50c; }

.main-footer {
  position: relative;
  background: linear-gradient(#000, #222);
  padding: 0px 0px 30px;
  margin-bottom: 0; }
  .main-footer h2 {
    text-align: left;
    color: #fff;
    font-size: 1.313em;
    font-weight: 500;
    letter-spacing: -0.5px;
    font-style: normal;
    margin-bottom: 1em; }
  .main-footer ul {
    list-style-type: none;
    padding-left: 0; }
  .main-footer a:link, .main-footer a:visited {
    color: #ccc; }
  .main-footer a:hover, .main-footer a:active {
    color: #fff;
    text-decoration: none; }

.footer-links li {
  margin-bottom: 5px; }
.footer-links a:before {
  content: "\f0a9";
  font-family: "FontAwesome";
  margin-right: 15px; }

.footer-contact {
  color: #ccc; }

.social-links {
  margin-top: 20px; }
  .social-links li {
    margin-bottom: 5px; }
    .social-links li .fa {
      font-size: 1.5em;
      margin-right: 15px;
      transform: translateY(3px); }

.copyright {
  text-align: center;
  padding: 20px 0;
  color: #333;
  background: #FFF; }
  .copyright p {
    margin-bottom: 0; }

.backToTop {
  position: fixed;
  right: 30px;
  bottom: 0px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 4px 4px 0 0;
  height: 40px;
  padding: 0 15px;
  background: rgba(100, 100, 100, 0.75);
  opacity: 0.75;
  z-index: 9999999;
  transition: all 0.25s ease;
  transform: translateY(100%); }
  .backToTop .fa {
    margin-left: 5px; }
  .backToTop:hover {
    color: #fff;
    opacity: 1;
    text-decoration: none; }

.lightbox-modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 12345678;
  overflow-y: auto; }
  .lightbox-modal .container {
    padding-top: 30px;
    padding-bottom: 120px;
    position: relative; }
  .lightbox-modal .image-index {
    color: #fff;
    padding-left: 3px; }
  .lightbox-modal #lightbox-close {
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 3em;
    color: #fff; }
    .lightbox-modal #lightbox-close:hover {
      text-decoration: none; }
  .lightbox-modal #lightbox-next, .lightbox-modal #lightbox-prev {
    color: #fff;
    font-size: 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
    transition: all 0.5s ease;
    opacity: 0.75;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35); }
    .lightbox-modal #lightbox-next:hover, .lightbox-modal #lightbox-prev:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.85); }
  .lightbox-modal #lightbox-next {
    right: 0px; }
  .lightbox-modal #lightbox-prev {
    left: 0px; }
  .lightbox-modal figure {
    position: relative; }
    .lightbox-modal figure img {
      height: auto;
      width: 100%; }
  .lightbox-modal #lightbox-caption {
    margin-top: 15px;
    padding: 3px;
    color: #ccc; }
  .lightbox-modal .lightbox-strip {
    width: 100%;
    height: 120px;
    padding: 15px;
    text-align: center; }
    .lightbox-modal .lightbox-strip ul {
      padding-left: 0;
      list-style-type: none;
      white-space: nowrap;
      margin-bottom: 0;
      overflow-x: auto;
      margin: 0 -10px 0; }
      .lightbox-modal .lightbox-strip ul li {
        display: inline;
        margin: 3px; }
    .lightbox-modal .lightbox-strip a:link, .lightbox-modal .lightbox-strip a:visited {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 100px;
      overflow: hidden; }
      .lightbox-modal .lightbox-strip a:link img, .lightbox-modal .lightbox-strip a:visited img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 100%;
        z-index: -1; }
    .lightbox-modal .lightbox-strip a.active:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #76BD0E;
      opacity: 0.6; }

html.touch #lightbox-next:hover, html.touch #lightbox-prev:hover {
  opacity: 0.75;
  background: none; }

.subpage-header:after {
  content: "";
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: -1px;
  background: linear-gradient(rgba(0, 0, 0, 0), #fafafa); }
.subpage-header .container {
  position: relative;
  height: 380px; }

.subpage-header {
  background: url("../img/subpage.jpg");
  background-color: #fff;
  background-size: cover;
  background-position: center bottom;
  position: relative; }

.subpage-title {
  font-family: "Kaushan Script", cursive;
  position: absolute;
  bottom: 55px;
  left: 5px;
  font-size: 3.4em;
  letter-spacing: -1px;
  z-index: 123;
  color: #fff;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35); }

.breadcrumbs {
  position: absolute;
  bottom: 20px;
  left: 15px;
  z-index: 123;
  list-style-type: none;
  padding-left: 0; }
  .breadcrumbs li {
    display: inline-block;
    letter-spacing: -0.5px; }
    .breadcrumbs li a:link, .breadcrumbs li a:visited {
      color: #278cff;
      transition: all 0.25s ease; }
    .breadcrumbs li a:hover, .breadcrumbs li a:active {
      color: #76BD0E;
      text-decoration: none; }
    .breadcrumbs li:before {
      content: " / ";
      padding: 0 10px; }
    .breadcrumbs li:first-child:before {
      content: "";
      padding: 0; }

.subpage-content {
  background: #fafafa;
  padding-top: 40px; }
  .subpage-content h2 {
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
    color: #278cff; }
    .subpage-content h2 span {
      font-weight: bold; }

.contact-details h2 {
  font-size: 1.5em;
  margin-top: 60px; }

.form-contact-us {
  margin: 0 30px;
  margin-top: -180px;
  padding: 40px;
  background: #fff;
  border-top: 4px solid #278cff;
  position: relative;
  box-shadow: -2px 2px 6px rgba(50, 50, 50, 0.15); }
  .form-contact-us p, .form-contact-us h3 {
    text-align: center; }
  .form-contact-us p {
    color: #888;
    margin: 0 0 5px 0;
    font-style: italic;
    font-weight: 300; }
  .form-contact-us h3 {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 1.5em;
    font-weight: bold; }
  .form-contact-us .form-group {
    position: relative;
    padding-left: 100px;
    margin-bottom: 30px; }
    .form-contact-us .form-group label {
      position: absolute;
      left: 0;
      top: 10px;
      font-size: 0.9em; }
    .form-contact-us .form-group .form-control {
      border-radius: 0;
      resize: none; }
  .form-contact-us .btn {
    margin-left: 100px;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.5px; }

.parallax-mirror {
  z-index: 1 !important; }

.contact-social {
  margin-top: 130px;
  padding: 120px 0;
  position: relative; }
  .contact-social:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #363636;
    opacity: 0.25;
    z-index: 12; }
  .contact-social .container {
    z-index: 123;
    position: relative; }
  .contact-social .contact-social-wrapper {
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    text-align: center; }
    .contact-social .contact-social-wrapper h2, .contact-social .contact-social-wrapper p {
      text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15); }
    .contact-social .contact-social-wrapper h2 {
      color: #fff;
      margin-bottom: 15px;
      font-style: normal; }
    .contact-social .contact-social-wrapper ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0; }
      .contact-social .contact-social-wrapper ul li {
        display: inline-block; }
    .contact-social .contact-social-wrapper a:link, .contact-social .contact-social-wrapper a:visited {
      color: #fff;
      font-size: 2.4em;
      margin-right: 10px;
      transition: all 0.25s ease; }
    .contact-social .contact-social-wrapper a:hover, .contact-social .contact-social-wrapper a:active {
      color: #76BD0E; }

.questions {
  border-top: 1px solid #eee;
  padding: 100px 0; }
  .questions h3 {
    font-size: 0.875em;
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.5px; }
  .questions p {
    font-weight: 300;
    margin-left: 3px; }

.our-story {
  padding-top: 20px;
  padding-bottom: 80px; }
  .our-story img {
    float: left;
    margin-right: 40px; }

.founders {
  padding: 100px 0 80px;
  border-top: 1px solid #ccc; }
  .founders > div > p {
    margin-bottom: 50px; }

.founders-item {
  margin-bottom: 40px; }
  .founders-item h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold; }
  .founders-item p {
    font-weight: 300; }

.gallery-sort {
  width: 300px;
  position: relative;
  float: right;
  padding-left: 75px;
  margin-top: -120px; }
  .gallery-sort label {
    position: absolute;
    top: 8px;
    left: 0; }

.gallery-wrapper {
  padding-bottom: 100px;
  padding-top: 0;
  background: none; }
  .gallery-wrapper .pagination {
    margin-top: 50px;
    justify-content: center; }

@media screen and (max-width: 1200px) {
  body {
    font-size: 14PX; }

  .navbar a:link, .navbar a:visited {
    letter-spacing: 0px; }

  .events-section .card {
    margin: 0 auto; }
  .events-section .card .event-actions .btn {
    padding: 7px 14px;
    margin-left: 0;
    margin-bottom: 5px; }

  .pre-footer {
    padding: 100px 0 200px; } }
@media screen and (max-width: 1024px) {
  .hero-section .slick-arrow:hover, .hero-section .slick-arrow:active {
    color: #fff;
    opacity: 1; }

  .card:hover, .card:active {
    box-shadow: none; }
    .card:hover:before, .card:active:before {
      top: -1px;
      bottom: -1px;
      right: -1px;
      left: -1px; }

  .other-services-section a:hover, .other-services-section a:active {
    text-decoration: none;
    transform: translateY(0); }
    .other-services-section a:hover .icon-wrapper:after, .other-services-section a:active .icon-wrapper:after {
      background: none;
      transform: translateY(0); }
    .other-services-section a:hover .icon-wrapper .fa, .other-services-section a:hover .icon-label, .other-services-section a:active .icon-wrapper .fa, .other-services-section a:active .icon-label {
      text-shadow: none; }

  .featured-photos-section {
    padding: 75px 0 50px;
    background-color: #fff; }
    .featured-photos-section .item:hover:after, .featured-photos-section .item:active:after {
      top: -1px;
      bottom: -1px;
      right: -1px;
      left: -1px; }
    .featured-photos-section .item:hover figcaption, .featured-photos-section .item:active figcaption {
      transform: translateY(100%);
      opacity: 1; }
    .featured-photos-section .item:hover img, .featured-photos-section .item:active img {
      transform: scale(1); }

  .subpage-content .founders {
    padding-top: 30px;
    padding-bottom: 30px; }
    .subpage-content .founders h2 {
      margin-top: 50px; }

  .subpage-content .our-story {
    padding-bottom: 30px; }
    .subpage-content .our-story img {
      width: 175px;
      margin-bottom: 20px; }
    .subpage-content .our-story h2 {
      margin-top: 0; } }
@media screen and (max-width: 991px) {
  .navbar {
    padding-top: 15px;
    padding-bottom: 20px;
    overflow-y: hidden; }
    .navbar a:link, .navbar a:visited {
      float: none;
      display: block;
      text-align: center;
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      padding: 10px 0; }
    .navbar a[href*="/about-us"] {
      transform: translateX(0); }
    .navbar a[href*="/contact-us"] {
      border-top: none;
      background: none;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0; }
      .navbar a[href*="/contact-us"] .hidden-md {
        display: none; }
      .navbar a[href*="/contact-us"] .fa {
        display: block;
        font-size: 2.75em; }
      .navbar a[href*="/contact-us"]:hover {
        background: none; }
    .navbar .nav-logo {
      padding: 0 30px; }
    .navbar .nav-logo a {
      border-top: none; }
      .navbar .nav-logo a img {
        width: 200px; }
    .navbar .nav-right, .navbar .nav-left {
      transform: translateY(30px);
      height: 0;
      overflow: hidden; }
    .navbar a[href*="/gallery"] {
      transform: translateX(0px); }
    .navbar a.nav-toggle {
      display: block;
      border: none;
      z-index: 999;
      text-shadow: none; }
    .navbar a:hover, .navbar a:active {
      color: #fff; }

  .dropdown-services {
    background: none;
    display: block;
    max-height: 0;
    padding: 0;
    box-sizing: border-box;
    position: unset;
    overflow-y: hidden; }
    .dropdown-services ul {
      margin-bottom: 0;
      padding-bottom: 0; }
      .dropdown-services ul a:link, .dropdown-services ul a:visited {
        border: none; }
    .dropdown-services ul:before {
      display: none; }

  .section-header {
    margin-bottom: 15px; }

  .hero-section .slick-arrow {
    display: none !important; }
  .hero-section .slide-body {
    top: 50%;
    width: 100%;
    padding: 0 30px; }
    .hero-section .slide-body .slide-title {
      font-size: 3em; }
    .hero-section .slide-body .slide-caption {
      margin-top: 15px; }
  .hero-section .btn-scroll {
    bottom: 150px; }

  .events-section {
    padding-bottom: 15px;
    padding-top: 40px; }
    .events-section h2 {
      padding: 0 15px; }
    .events-section .container > p {
      margin-top: 0px; }
    .events-section .col-lg-4 {
      margin-bottom: 30px; }

  .other-services-section .bg-sand:before {
    background-size: 20%;
    background-position: 98% 30%; }
  .other-services-section .container {
    padding-top: 40px;
    padding-bottom: 30px;
    overflow-x: hidden; }
    .other-services-section .container > p {
      width: 100%;
      padding: 0 15px; }
    .other-services-section .container .row {
      padding: 0 30px; }
  .other-services-section .icon-wrapper {
    margin-top: 15px; }
    .other-services-section .icon-wrapper .fa {
      font-size: 3em; }

  .gallery-sort {
    width: 100%;
    position: relative;
    padding-left: 0;
    margin-top: 0; }
    .gallery-sort label {
      position: static; }

  .featured-photos-section, .gallery-wrapper {
    padding-top: 40px;
    padding-bottom: 30px; }
    .featured-photos-section .row, .gallery-wrapper .row {
      padding: 15px; }
    .featured-photos-section .item, .gallery-wrapper .item {
      padding: 2px; }
      .featured-photos-section .item figure, .gallery-wrapper .item figure {
        position: relative;
        box-sizing: border-box; }
      .featured-photos-section .item a:after, .gallery-wrapper .item a:after {
        display: none; }
    .featured-photos-section .item
    p, .gallery-wrapper .item
    p {
      margin-top: 15px; }
    .featured-photos-section .pagination, .gallery-wrapper .pagination {
      margin-top: 20px; }

  .subpage-header .container {
    height: 250px; }

  .form-contact-us {
    margin: 0;
    padding: 20px;
    margin-bottom: 30px; }
    .form-contact-us .form-group {
      padding-left: 75px; }
    .form-contact-us .form-control {
      font-size: 0.95em; }

  .contact-social {
    margin-top: 50px; }

  .questions {
    padding: 30px 0; }

  .subpage-content {
    padding: 15px 0; }
    .subpage-content h2 {
      margin-top: 30px; } }
@media screen and (max-width: 767px) {
  .backToTop {
    right: 15px;
    padding: 0 15px 0 10px; }
    .backToTop span {
      display: none; }

  .section-header span {
    display: block; }

  .events-section .card .card-body {
    padding: 15px; }

  .other-services-section .bg-sand:before {
    background-size: 25%;
    background-position: 98% 50%; }

  .reviews-section .review-slider .slick-arrow {
    display: none !important; }
  .reviews-section .review-slide .review-body {
    width: 100%;
    padding: 15px; }

  .pre-footer {
    padding: 50px 0 200px; }
    .pre-footer .subscribe-wrapper {
      width: 100%;
      padding: 30px; }
      .pre-footer .subscribe-wrapper .form-group {
        width: 100%; }
      .pre-footer .subscribe-wrapper button.btn, .pre-footer .subscribe-wrapper input {
        font-size: 1em; }

  .main-footer {
    padding-left: 30px; }
    .main-footer .footer-contact {
      margin-top: 30px; } }
@media screen and (max-width: 480px) {
  .navbar .nav-logo a img {
    width: 150px; }
  .navbar a[href*="/contact-us"] {
    right: -5px; }
    .navbar a[href*="/contact-us"] .fa {
      font-size: 2em; }
  .navbar a.nav-toggle {
    left: 5px;
    font-size: 1.7em; }

  .hero-section .slide-body {
    top: 44%;
    width: 100%;
    padding: 0 20px; }

  .other-services-section .bg-sand:before {
    background-size: 40%;
    background-position: 115% 30%; }
  .other-services-section .container {
    padding-top: 30px; }
  .other-services-section .icon-wrapper {
    width: 100px;
    height: 100px; }

  .pre-footer .subscribe-wrapper {
    padding: 30px; }
    .pre-footer .subscribe-wrapper .form-group {
      width: 100%;
      position: relative; }
    .pre-footer .subscribe-wrapper button.btn, .pre-footer .subscribe-wrapper input {
      font-size: 1em; }

  .main-footer {
    padding-left: 15px; }

  .copyright {
    padding: 15px;
    font-size: 0.875em; }

  .subpage-header {
    background-position: 69% bottom; }

  .subpage-content .subpage-title {
    font-size: 3em; }

  .subpage-content .our-story {
    padding-bottom: 30px; }
    .subpage-content .our-story img {
      width: 100px;
      margin-right: 10px;
      margin-bottom: 10px; }
    .subpage-content .our-story h2 {
      margin-top: 0; }

  .founders-item .col-3 {
    padding-right: 0; } }
.is-navbar-hidden {
  transform: translateY(-100%); }

.is-back-visible {
  transform: translateY(0); }

.is-dropdown-visible {
  display: block; }

.navbar.is-collapsed {
  background: rgba(0, 0, 0, 0.75); }
  .navbar.is-collapsed .nav-toggle .fa-navicon {
    display: none; }
  .navbar.is-collapsed .nav-toggle .fa-close {
    display: block; }
  .navbar.is-collapsed .nav-right, .navbar.is-collapsed .nav-left {
    height: auto;
    transform: translateY(0px); }

@media screen and (max-width: 991px) {
  .is-dropdown-visible {
    max-height: 1000px; } }

/*# sourceMappingURL=style.css.map */
