body, html {
    font-family: $baseFonts;
    font-size: 16px;
    -webkit-overflow-scrolling: touch;
}

main {
    overflow-x: hidden;
    overflow-y: hidden;
}

h2 { font-size: 2em; }

.section-header {
    font-weight: 300;
    letter-spacing: -1px;
    color: $primaryColor;
    text-align: center;
    margin-bottom: 30px;
}

.section-header span {
    font-weight: bold;
}

.card, .card-img-top {
    border-radius: 0;
}
.btn {
    border-radius: 20px;
    font-size: 0.875em;
    padding: 8px 16px;
}

.btn-primary:hover {
    border-color: transparent;
    background: $accentColor;            
}

.btn-outline-primary:hover {
    border-color: $accentColor;
    color: $accentColor;
    background: none;
}