@media screen and (max-width: 991px) {

    .navbar {

        padding-top: 15px;
        padding-bottom: 20px;
        overflow-y: hidden;
        // background:  rgba(0, 0, 0, 0.65);

        a:link, a:visited{
            float: none;
            display: block;
            text-align: center;
            border-top: 1px solid rgba(0, 0, 0, 0.15);
            padding: 10px 0;
        }
        
        & a[href="/about-us"] {
            transform: translateX(0);
        }

        a[href="/contact-us"] {
            border-top: none;
            background: none;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            right: 0;

            .hidden-md { display: none; }
            .fa { display: block; font-size: 2.75em; }

            &:hover {
                background: none;
            }
        }

        .nav-logo a {
            border-top: none;

            img {
                width: 200px;
                margin-bottom: 15px; 
            }
        }

        .nav-right, .nav-left {
            transform: translateY(30px);
            height: 0;
            overflow: hidden;
        }

        & a[href="/gallery"] {
            transform: translateX(0px);
        }
    

        a.nav-toggle {
            display: block;
            border: none;
            z-index: 999;
            text-shadow: none;

            &:active, &:visited {
                color: #fff;
            }
        }
    }

    .dropdown-services {
        background: none;
        display: block;
        max-height: 0;
        padding: 0;
        box-sizing: border-box;
        position: unset;
        overflow-y: hidden;
        ul {
            margin-bottom: 0;
            padding-bottom: 0;
            a:link, a:visited {
                border: none;
            }
        }
        ul:before { display: none; }


    }
    

    .section-header {
        margin-bottom: 15px;
    }

    .hero-section {
        .slick-arrow {
            display: none!important;
        }
        .slick-dots {
            bottom: 3%!important;
        }
        .slide-body {
            top: 50%;
            .slide-title {
                font-size: 3em;
            }

            .slide-caption {
                margin-top: 15px;
            }
            
            width: 100%;
            padding: 0 30px;
        }

        .btn-scroll {
            bottom:22%;
        }
    }

    .events-section {
        padding-bottom: 15px;
        padding-top: 40px;
        h2 {
            padding: 0 15px;
        }
        & > p {
            margin-top: 0px;
        }
        .col-lg-4 {
            margin-bottom: 30px;
        }
    }

    .other-services-section {

        .bg-sand {
            &:before {
                background-size: 20%;
                background-position: 95% 50%;
            }
        }

        .container {

            & > p {
                width: 100%;
                padding: 0 15px;
            }
            
            padding-top: 40px;
            padding-bottom: 30px;
            overflow-x: hidden;


            .row {
                padding: 0 30px;
            }
        }

        .icon-wrapper {
            margin-top: 15px;

            .fa {
                font-size: 3em;
            }
        }
    }

    .featured-photos-section {
        padding-top: 40px;
        padding-bottom: 30px;

        .item figure {
            height: 220px;
            position: relative;
            box-sizing: border-box;
        }

        p {
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 767px) {

    .section-header span {
        display: block;
    }

    

    .events-section .card .card-body {
        padding: 15px;
    }
    
    .other-services-section {

        .bg-sand {
            &:before {
                background-size: 25%;
                background-position: 98% 50%;
            }
        }
    }

    .featured-photos-section {

        .item {
            padding-bottom: 0;
        }

        .item.col-md-4 figure, .item.col-md-8 figure {
            height: auto;

            img {
                position: static;
                width: 100%;
                height: auto;
            }

        }
    }

    .reviews-section {
        .review-slider .slick-arrow {
            display: none!important;
        }
        .review-slide .review-body {
            width: 100%;
            padding: 15px;
        }
    } 

    .pre-footer {
        padding: 50px 0 200px;

        .subscribe-wrapper {
            width: 100%;
            padding: 30px;

            .form-group {
                width: 100%;
            }

            button.btn, input {
                font-size: 1em;
            }
        }
    }

    .main-footer {
        padding-left: 30px;

        .footer-contact {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 480px) {

    
.navbar {

    .nav-logo a img {
        width: 150px;
    }

    a[href="/contact-us"] {
        right: -5px;

        .fa {
            font-size: 2em;            
        }
    }

    a.nav-toggle {
        left: 5px;
        font-size: 1.7em;
    }
}


.hero-section {

    .slide-body {
        top: 44%;
        width: 100%;
        padding: 0 20px;
    }


}

    .other-services-section {

        .bg-sand {
            &:before {
                background-size: 40%;
                background-position: 90% 50%;
            }
        }
        .container {
            padding-top: 30px;
        }

        .icon-wrapper {
            width: 100px;
            height: 100px;
        }
    }

    .pre-footer {
        .subscribe-wrapper {
            padding: 15px;

            .form-group {
                width: 100%;
            }

            button.btn, input {
                font-size: 1em;
            }
        }
    }

    .main-footer {
        padding-left: 15px;
    }

    .copyright {
        padding: 15px;
        font-size: 0.875em;
    }
}