.is-navbar-hidden {
    transform: translateY(-100%);
}

.is-back-visible {
    transform: translateY(0);    
}

.is-dropdown-visible {
    display: block;   
}

.navbar.is-collapsed {

    background: rgba(30,30,30,1);
   
    .nav-toggle {
        .fa-navicon {
            display: none;
        }
        .fa-close {
            display: block;
        }
    }
    .nav-right, .nav-left {
        height: auto;
        transform: translateY(0px);
    }
} 


@media screen and (max-width: 991px){
    .is-dropdown-visible {
        max-height: 1000px;
    }
}
