$textShadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
$baseFonts: 'Josefin Sans', 'Helvetica-Neue', Helvetica, sans-serif;
$scriptFont: 'Kaushan Script', cursive;
$primaryColor: #278cff;
$accentColor: #76BD0E;