.events-toolbar {
    width: 100%;
    margin-top: -40px;
    margin-bottom: 40px;

    .btn-primary {
        border-radius: 0;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    .form-group {
        position: relative;
        padding-left: 100px;
    }


    .event-filter-container {
        display: none;
        padding: 0;
        padding-right: 15px;
        
        .btn {
            height: 100%;
            width: 100%;
            border-radius: 3px;
        }
    }


    label {
        position: absolute;
        left: 15px;
        top: 5px;
    }
}

.events-wrapper {
    .pagination {
        justify-content: center;
        padding-bottom: 50px;
    }
}