.event-details {

    padding-right: 40px;
    border-right: 1px solid #eee;

    .event-price {

        color: $primaryColor;
        font-weight: bold;
        margin-bottom: 0;
        line-height: 1;
        letter-spacing: 1px;
        
        span {
            font-size: 2em;  
        }
    }

    .event-note {

        p {
            margin: 3px;
            line-height: 1;
            font-size: 0.813em;
            color: #aaaaaa;
        }
    }
}

.event-images {
    padding-left: 40px;
}

.event-images-active {
    position: relative;
    img { width: 100%; }
}

.event-images-strip {
    white-space: nowrap;
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    a {
        opacity: 0.6;
        margin-right: 5px;
        display: inline;
    }

    a.active {
        opacity: 1;
    }

    img {
        height: 100px;
    }
}

.event-images-next, .event-images-prev {
    color: #fff;
    font-size: 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
    transition: all 0.5s ease; 
    opacity: 0.85;
    text-shadow: $textShadow;
    background: rgba(0,0,0,0.25);    

    &:hover {
        color: #fff;
        opacity: 1;
        background: rgba(0,0,0,0.75);
    }
}

.event-images-next { right: 0px; }
.event-images-prev { left: 0px; }

.event-details-table {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 1em;
    margin-bottom: 30px;      
}

.event-cards{
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('../img/paper.jpg');
    position: relative;
    border-top: 4px solid rgba(0,0,0,0.04);
    
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        // background: rgba(255, 255, 255, 0.15);
    }

    .card {
        z-index: 123;
        padding: 0;
        height: 100%;
        border: none;
        border-top: 4px solid $primaryColor;
        box-shadow: -2px 2px 6px rgba(50, 50, 50, 0.15);


        .card-title {
            font-size: 1.1rem;
            text-transform: uppercase;
        }

        ul {
            padding-left: 0;
            list-style-type: none;
            max-height: 250px;
            overflow: auto;
            padding-right: 10px;

            li {
                border-top: 1px solid #dee2e6;
                padding: 5px 0;
            }

            li:before {
                content: "\2713";
                padding-right: 30px;
                color: $primaryColor;
           }
        }
    
        .card-body {
            padding-bottom: 0;
            font-weight: 300;
        }

    }

    .card.danger {

        li:before {
            content: "\2715";
        }
    }

    .card.success {

        li:before {
            content: "\2611";
        }
    }
}

.itinerary {
    padding-bottom: 30px;
    h2 {
        margin-top: 60px;
        margin-bottom: 10px;
    }

    table {
        background: #fff;
        td, th {
            border-color: lighten($color: $primaryColor, $amount: 35);
            padding: 5px 10px;
            font-weight: 500;
        }
        &:hover {
            box-shadow: 5px 5px 20px #eee;
        }

    }

    .thead {
        background-color: $primaryColor;
        color: #fff;

        th {
            font-weight: normal;
            text-transform: uppercase;
        }
    }
}

.reminders {
    font-weight: 300;
    font-size: 0.9em;

    ol {
        padding-left: 15px;

        &>li {
            margin-top: 15px;
            padding-left: 15px;
        }
    }
}

.modal-open {
    padding-right: 0!important;
}

.modal-title {
    float: left;
    margin-bottom: 15px;
}

.modal-body {
    padding: 15px 30px;
}

.modal-header, .modal-footer {
    display: block;
    padding: 15px 30px;
}

.modal-header {
    padding-bottom: 0;
    background: $primaryColor;    
    color: #fff;

    .close {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.5rem;
        color: #eee;
        text-shadow: none;
        opacity: 1;

        &:hover {
            color: #fff;
        }
    }

    .nav-tabs {
        border-bottom: none;
    }
    .nav-item {
        border-radius: 0!important;

        .nav-link {
            color: #eee;

            &:hover {
                border-color: transparent;
                color: #fff;
            }
        }

        .nav-link.active {
            color: #212529;
        }
    }

}

.modal-footer {

    button {
        border-radius: 20px;
        padding: 8px 24px;
    }

    button:first-child {
        float: left;
    }

    button:last-child {
        float: right;
    }
}

.event-modal {

    .modal-header {
        border-bottom: none;        
    }

    .form-group {
        position: relative;
        margin-top: 15px;
        margin-bottom: 0;
        padding-left: 150px;
        padding-bottom: 15px;

        label {
            position: absolute;
            left: 0;
            top: 10px;
            font-size: 0.9em;
        }

        .form-control {
            border-radius: 0;
            resize: none;
        }
    }
}

.payment-modal {
    // .modal-header {
    //     color: #155724;
    //     background-color: #d4edda;
    //     border-color: #c3e6cb;
    // }

    td:first-child {
        // font-weight: 300;
    }
}

.payment-contact-info {

    dt {
        clear: both;
        width: 150px;
        float: left;
        font-weight: normal;
    }

    dd {
        float: left;
        margin: 0;
    }
}

.payment-methods {
    margin-top: 30px;

    .nav-link.active {
        background: #f8f8f8;        
    }
    .tab-content {
        background: #f8f8f8;
        padding: 15px;
        font-weight: 300;
        font-size: 0.875em;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border: 1px solid #dee2e6;
        border-top: none;

        ol {
            padding-left: 15px;
            margin: 0;
        }

        dt {
            clear: both;
            width: 50%;
            float: left;
            font-weight: 300;
        }
    
        dd {
            float: left;
            margin: 0;
        }
    }
}