.gallery-sort {
    width: 300px;
    position: relative;
    float: right;
    padding-left: 75px;
    margin-top: -115px;

    label {
        position: absolute;
        top: 8px;
        left: 0;
    }
}

.gallery-wrapper {
    padding-bottom: 100px;
    padding-top: 0;
    background: none;

    .pagination {
        margin-top: 50px;
        justify-content: center;
     }
}