.other-services-section {
    position: relative;
    color: #fff;
    overflow: hidden;

    .bg-sand {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        transform: translate3d(0,0,0);  
        background:  url('../img/sand.jpg');
        background-repeat:  repeat;
        background-position: center;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -5;
            background: url('../img/starfish.png');
            background-repeat: no-repeat;
            background-position: 82% 30%;
        }
    }

    .container {
        z-index: 9;
        padding: 40px 0 30px;   
    }

    h2 {
        text-align: center;
        font-size: 2.5em;
        font-family: $scriptFont;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)        
    }

    .container > p {
        margin: 0 auto 40px;
        width: 600px;
        text-align: center;
        font-size: 1.125em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)        
    }

    .icon-wrapper {
        margin: 0 auto;
        width: 128px;
        height: 128px;
        position: relative;

        &:before, &:after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }

        &:before {
            border: 4px solid #fff;
            border-radius: 50%;
            z-index: 999;                      
        }

        &:after {
            z-index: 9;
            transition: all 0.5s ease;
            background: radial-gradient(rgba(0, 0, 0, 0) 58%, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0) 72%);                        
        }

        .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3.75em;
            text-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
            transition: all 0.5s ease;                                      
        }
    }

    .icon-label {
        text-align: center;
        font-size: 1.375em;
        margin-top: 15px;
        text-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);    
        transition: all 0.5s ease;              
    }

    a:link, a:visited {
        display: block;
        color: #fff;
        transition: all 0.5s ease;  
    }

    a:hover, a:active {
        text-decoration: none;
        transform: translateY(-10%);

        .icon-wrapper:after {
            background: radial-gradient(rgba(0, 0, 0, 0) 58%, rgba(0, 0, 0, 0.25) 65%, rgba(0, 0, 0, 0) 72%);            
            transform: translateY(15px);            
        }

        .icon-wrapper .fa {
            text-shadow: 0 15px 5px rgba(0, 0, 0, 0.25);            
        }

        .icon-label {
            text-shadow: 0 15px 5px rgba(0, 0, 0, 0.5);
        }
    }
}